.containerSwiper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(27, 27, 31, 0.9);
  padding: 3.25rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  padding: 3.25rem;
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    padding: 0;
    padding-top: 3rem;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}
