.containerSwiper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #121212;
  padding: 32px;

  z-index: 11;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  padding: 16px;
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    padding: 0;
    padding-top: 3rem;
  }
}

.swiper-image {
  display: block;
  /* width: 100%; */
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: #E9272E;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #FBFBFB;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-btn {
  font-size: 16px;
  padding: 8px 16px;
  /* background-image: linear-gradient(to right, #e9272e, #c71c22); */
  transition: all 0.3s;
  color: #e9272e;
  border: 2px solid #e9272e;
  border-radius: 16px;
  cursor: pointer;

  height: fit-content;
  position: absolute;
  top: 8px;
  right: 118px;
  z-index: 2;
  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 6px;
}

.download-btn svg {
  width: 20px;
  height: 20px;
}

.download-btn:hover {
  background-color: #E9272E;
  color: #fbfbfb;
}


.swiper-slide-fully-visible img {
  opacity: 0.4;  
}
.swiper-slide-thumb-active img {
  opacity: 1;
}

.swiper-thumb {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
